<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Suite">
  <test thread-count="5" parallel="classes" name="Test">
    <packages>
      <package name="writings"/>
    </packages>
  </test> <!-- Test -->
</suite> <!-- Suite -->
